/* Set black background color, white text and some padding */
footer {
    /*background-color: #303335;*/
    /*color: white;*/
    /*padding: 15px;*/
}

/*CUSTOM STYLES*/

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
    color: #91d5f7;
}


.mmodalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;overflow-x: auto;
}

.mmodalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.mmodalDialog > div {
    /*width: 400px;*/
    position: relative;
    margin: 3% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 2px;
    background: #fff;
    width: 40%;
}

/* The Close Button */
.cclose {
    background: #303335;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.cclose:hover {
    color: #78d6e7;
}
.minibox {
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 5px;
}
.reply_img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    vertical-align: top;
}
.reply_image {
    display: block;
    float: left;
}
.reply_text {
    word-wrap: break-word;
    overflow: hidden;
    padding-right: 10px;
    padding-bottom: 5px;
}
.reply_wrap {
    padding: 10px 0;
    border-color: #ddd;
}
.replies_list {
    padding: 10px;
}
.reply_footer {
    font-size: 12.5px;
    padding: 3px 0 0;
    padding-top: 3px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-bottom: -1px;
}
.click-border {
    border-color: #00b3ee;
}

.abc {
    margin-top: 87px;
}

.my-thumb {
    display: inline-block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #00b3ee;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.background-wrap {
    position: fixed;
    z-index: -1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}
#video-bg-elem {
    position: absolute;
    top:0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}
.content {
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: 1000;
}
.status_name {
    color: white;
    /*text-shadow: black 0.1em 0.1em 0.2em;*/
}
.status_text {
    color: #777;
    text-shadow: steelblue 0.1em 0.1em 0.2em;
}
.like-btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;

}
.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('../../resources/pics/icon_top.png') no-repeat;
}
